/*
 * MUCtool Web Toolkit
 *
 * Copyright 2018 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

dd:nth-child(even) {
    background: -webkit-linear-gradient(right, hsla(222, 0%, 0%, .2), hsla(222, 0%, 0%, .0));
}

dd:nth-child(odd) {
    background: linear-gradient(right, hsla(222, 0%, 33%, .2), hsla(222, 0%, 0%, .0));
}

section {
    background: -webkit-linear-gradient(right, hsla(222, 0%, 33%, .2), hsla(222, 0%, 0%, .0));
}

h1 {
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.19)));
}

.page {
    width: 205mm;

    background: #fff;
    border-radius: .5em;

    margin: 2em auto 2em 2em;
    padding: 2em;
    float: left;
}

#fallback-format {
    position: fixed;
    top: 2em;
    left: .1em;
}

html {
    background: #ccc;
}

h1, h2 {
    text-shadow: .1em .0em .1em #999;
}

h1 {
    margin-bottom: 1.5em;
    font-size: 2em;
}

section h2 {
    text-align: right;
}

dt.section {
    font-size: 1.5em;
}

section {
    border: .0em hsla(222, 77%, 44%, .1) solid;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    float: left;
}

#photo {
    opacity: .8;
    float: right;
    box-shadow: 1em 2em 1em #ccc;
    border-radius: 5em 5em 5em 5em;
    transform: rotateZ(5deg);
}

#photo:hover {
    opacity: 1;
    transform: scale(1.5);
    transition: transform 1.15s ease;
    z-index: 1;
    position: sticky;
}

#contact {
    padding-left: 1em;
}

a {
    text-decoration: none;
    color: hsla(0, 99%, 22%, .9); /* highlightColor */
}

a:visited {
    color: hsla(0, 99%, 11%, .5); /* highlightLessColor */
}

a:hover {
    color: hsla(0, 99%, 44%, .9); /* highlightLightColor */
}

footer {
    white-space: pre-line;
}

#header-links {
    margin: 2em 2em 2em 0;
    list-style-type: none;
}

dt {
    margin-top: .5em;
    margin-bottom: .3em;
    font-weight: bold;
}

dd {
    padding: .5em;
    border-bottom: .0em hsla(222, 11%, 11%, .3) dotted;
    border-radius: .5em .3em .3em .5em;
}

/*#high-skill dd {*/
/*background: transparent;*/
/*border: 0;*/
/*padding: 0;*/
/*margin-top: -1em;*/
/*margin-left: 9em;*/
/*}*/

#toImprove dd {
    background: transparent;
    border: 0;
    padding: 0;
    margin-top: -1em;
    margin-left: 9em;
}

.print {
    font-size: 3em;
    border-radius: .3em;
}
