/*
 * MUCtool Web Toolkit
 *
 * Copyright 2018 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#control-panel {
    height: 6em;
}

#sponsor {
    float: right;
}

#logo {
    float: left;
}

#meta-ctrl {
    float: right;
    margin-right: 1em;
    margin-top: 1.3em;
}

#sidebar {
    float: left;
    padding-top: 1.5em;
    min-width: 8em;
    display: none;
}

#main {
    padding: 1em;
    min-height: 22em;
}

#statusbar {
    position: relative;
    /*font-size: 1em;*/
    clear: both;
    padding-top: .5em;
    padding-bottom: .5em;
}